.App {
  text-align: center;
}
.App code {
  background: #fff3;
  padding: 4px 8px;
  border-radius: 4px;
}
.App p {
  margin: 0.4rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 50vw;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.player-form {
  display: flex;
  flex-direction: column;
}

.code-area {
  min-height: 150px;
}

.form label {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.form label + label {
  margin-top: 0.375rem;
}

textarea {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

input,
select {
  height: 2rem;
  font-size: 1rem;
  padding: 2px 8px;
  border-radius: 0.375rem;
  outline: 0;
  border: 1px solid black;

  /* -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center; */
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 38px;
  position: relative;
  transition: all 100ms;
  box-sizing: border-box;
}

select {
  padding: 0;
}

/* button {
  height: 2rem;
  border-radius: 0.375rem;
  min-width: 2.5rem;
  border: 1px solid palevioletred;
  background-color: transparent;
  color: rgb(216, 112, 147);
  cursor: pointer;
} */

:root {
  --red-main: #d87093;
  --red-sub: #f7e0e8;

  --green-main: #299974;
  --green-sub: #e1f7e3;

  --blue-main: #0a9cf0;
  --blue-sub: #c8eef7;

  --yellow-main: #fa520d;
  --yellow-sub: #f8d3c2;

  --button-main-color: var(--yellow-main);
  --button-sub-color: var(--yellow-sub);
}

.button {
  height: 2rem;
  border-radius: 0.375rem;
  min-width: 3.5rem;
  border: 2px solid var(--button-main-color);
  background-color: white;
  font-weight: 700;
  color: var(--button-main-color);

  cursor: pointer;
}

.button:hover:not(:disabled) {
  background-color: var(--button-sub-color);

  color: var(--button-main-color);
}

.button:focus {
  outline: none;
  background-color: var(--button-sub-color);
  /* box-shadow: 0 0 0 2px palevioletred; */
}

.button:disabled {
  cursor: initial;
  background-color: rgb(223, 223, 223);
  color: gray;
  border-color: gray;
}

.rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  height: 500px;
  position: fixed;
  bottom: 50px;
  transition: bottom 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94) 0s;

  /* bottom: -475px; */
}

#rules-link {
  display: none;
}

#rules {
  border: 2px solid var(--button-main-color);
  border-radius: 0.375rem;
  background-color: white;
  padding: 10px 20px;
  height: 500px;
  width: 700px;
  overflow-y: auto;
}

#rules-link:checked ~ .rules {
  bottom: -468px;
}

#rules-link-label {
  font-weight: 700;
  padding: 7px;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  border: 2px solid var(--button-main-color);
  border-bottom-width: 0;
  color: white;
  background-color: var(--button-main-color);
}

#rules-link-label:hover {
  cursor: pointer;

  color: var(--button-main-color);
  background-color: white;
}

#rules-link:checked ~ #rules-link-label::before {
  content: 'Hide ';
}

#rules-link:not(:checked) ~ #rules-link-label::before {
  content: 'Show ';
}

.definition-container {
  border-radius: 0.375rem;
  border: 2px solid var(--blue-main);
  /* background-color: var(--button-sub-color); */
  font-size: 0.8rem;
  padding: 10px;
}

.definition-container > .definition {
  padding-top: 0;
}

.definition {
  display: flex;
  padding-top: 10px;
}

.definition-block > .definition {
  padding-left: 20px;
}

.definition-desc {
  margin-top: 5px;
  margin-left: 5px;
}

:root {
  --code-blue-main: #125984;
  --code-blue-sub: #f2faff;

  --code-green-main: #307913;
  --code-green-sub: #f2faf3;

  --code-red-main: #c7254e;
  --code-red-sub: #f9f2f4;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: var(--code-blue-main);
  background-color: var(--code-blue-sub);
  border-radius: 4px;
}
